/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

.pika {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 -#unique
   #2 -h1
   #3 -body div h1
   #4 -body div .pika
   #5 -div h1

   e.g. - .pika               */